@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo a sua sebenta</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="frase-inspiradora">
        <p>"The most difficult thing is the decision to act. The rest is merely tenacity."</p>
        <p class="autor-frase">- Amelia Earhart</p>
    </div>
</div>
