<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img width="25px" height="25px" src="favicon.ico"/> Sebefree</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="library">
                <span class="oi oi-document" aria-hidden="true"></span> Biblioteca
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>

        <hr>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="perfil">
                <span class="oi oi-person" aria-hidden="true"></span> Perfil
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="config">
                <span class="oi oi-cog" aria-hidden="true"></span> Configuração
            </NavLink>
        </div>

        <hr>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="oi oi-globe" aria-hidden="true"></span> Notícia
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="doar">
                <span class="oi oi-thumb-up" aria-hidden="true"></span> Doar
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
